body {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

.navigation {
    background-color: #FFC1D4;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-list {
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin-right: 50px;
}

.links-list li {
    width: 89px;
    text-align: center;
}

.links-list a {
    color: #000000;
    text-decoration: 0;
    letter-spacing: 2.4%;
}

.links-list a:hover {
    font-weight: 600;
}

.logo-nav img {
    height: 90px;
    width: 180px;
    margin-left: 190px;
}

.hamburger-menu {
    display: none;
    border: none;
    background-color: #FFC1D4;
    cursor: pointer;
}

@media (max-width: 768px) {
    .links-list {
        top: 0;
        left: 0;
        padding-left: 0;
        padding-top: 50px;
        margin-top: 0;
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100dvh;
        width: 50vw;
        background-color: #F6AEC4;
        z-index: 1000;
    }

    .links-list li {
        width: 100%;
        text-align: center;
    }

    .hamburger-menu {
        display: flex;
    }

    .links-list.active-list {
        display: flex;
        justify-content: flex-start;
    }
}