body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.navigation {
    background-color: #FFC1D4;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-list {
    display: flex;
    gap: 3vw;
    list-style-type: none;
    margin-right: 13%;
}

.links-list a {
    color: #000000;
    text-decoration: 0;
    letter-spacing: 2.4%;
    font-size: 1.25rem;
}

.links-list a:hover {
    text-decoration: underline;
}

.logo-nav {
    height: 6.25%;
    width: 12.5%;
    margin-left: 13%;
}

.hamburger-menu {
    display: none;
    border: none;
    background-color: #FFC1D4;
    cursor: pointer;
    margin-right: 10%;
}

@media (max-width: 768px) {
    .links-list {
        gap: 5dvh;
        top: 0;
        left: 0;
        padding-left: 0;
        padding-top: 10dvh;
        margin-top: 0;
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100dvh;
        width: 50vw;
        background-color: #F6AEC4;
        z-index: 1000;
    }

    .logo-nav {
        margin-left: 10%;
    }

    .links-list li {
        width: 100%;
        text-align: center;
    }

    .hamburger-menu {
        display: flex;
    }

    .links-list.active-list {
        display: flex;
        justify-content: flex-start;
    }
}